.mainPage{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, #8000FF, #A64DFF);
    display: flex;
    flex-flow: column;
}

.loginContainer{
    max-height: 800px;
    max-width: 1100px;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-image: linear-gradient(100deg, white, white 39.5%,#FAF5FF 40%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginWrapper{
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.loginUsername,
.loginPassword{
    background-color: white;
    margin-top: 1rem;
    padding: 1rem 1rem;
    width: 70%;
    border: none;
    border-bottom: 1px solid #cccccc;
}

.loginUsername{
    margin-bottom: 1rem;
}

.loginUsername:focus,
.loginPassword:focus{
    outline: none;
    border-color: #8000FF;
}

.submitButton{
    background-image: linear-gradient(45deg, #8000FF, #A64DFF);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    margin-top: 2rem;
    padding: 1rem 1rem;
    width: 70%;
    border-radius: 15px;
    transition: ease-in-out 200ms;
}

.submitButton:hover{
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(1.15);
}


.formWrapper{
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.formWrapper span{
    width: 70%;
    font-size: 0.8rem;
    color: #bbbbbb;
}

.titleWrapper{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8000FF;
}

.recoveryLink{
    text-decoration: none;
    font-size: 0.8rem;    
    color: #8000FF;
    text-align: end;
}

.underPassword{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.passwordSee{
    border: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordSee:hover{
    cursor: pointer;
}

.passwordSeeImg{
    filter: invert(27%) sepia(97%) saturate(7490%) hue-rotate(271deg) brightness(91%) contrast(130%);
}

.submitError{
    color: #8000FF;
    width: 70%;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 1rem;
}

/* LOGO WRAPPER */

.logoWrapper{
    width: 60%;
    height: 100%;
    display: flex;
}

.logoContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.logoLink{
    text-decoration: none;
}

.textContainer{
    text-align: center;
    width: 100%;
    color: #8000FF;
}

.textContainer h1{
    font-size: 2rem;
}

.textContainer span{
    font-size: 1rem;
}

.registerContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.colabContainer{
    transform: scale(1.5);
}

.registerButton{
    width: 40%;
    margin-top: 1rem;
    padding: 1rem 0rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(45deg, #8000FF, #A64DFF);
    transition: ease-in-out 200ms;
}

.registerButton:hover{
    transform: scale(1.05);
    filter: brightness(1.15);
}