.footer{
    width: 100%;
    background-color: #0000007a;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.footer span{
    margin-top: 2rem;
    width: 320px;
    text-align: center;
}